Source: classified-ads
Section: net
Priority: optional
Maintainer: Antti Järvinen <antti.jarvinen@katiska.org>
Build-Depends: debhelper-compat (= 12),
               libgcrypt-dev,
               libminiupnpc-dev,
               libnatpmp-dev,
               qtbase5-dev,
               libssl-dev,
               qt5-qmake,
               imagemagick,
               qtmultimedia5-dev,
               libopus-dev,
               tcl-dev,
               tk-dev,
               zlib1g-dev,
               libbz2-dev,
               xvfb,
               xauth
Standards-Version: 4.1.4
Homepage: http://katiska.org/classified-ads/
Vcs-Git: https://github.com/operatornormal/classified-ads.git -b debian
Vcs-Browser: https://github.com/operatornormal/classified-ads

Package: classified-ads
Architecture: any
Depends: libqt5sql5-sqlite, ${misc:Depends}, ${shlibs:Depends}
Suggests: qttranslations5-l10n
Description: Program for displaying classified advertisement items
 Classified ads is an attempt to re-produce parts of the functionality
 that went away when usenet news ceased to exist. This attempt tries to
 fix the problem of disappearing news-servers so that there is no
 servers required; data storage is implemented inside client
 applications that users are running. Features of the program
 currently include
  * Posting of ads online, with categorization.
  * Replying to ads either in public or privately to operator.
  * Binary attachments to posts.
  * Providing basic data of operators
  * Basic searching of content based on words.
  * Audio negotiations between operators.
  * Possibility to extend the UI using Tcl scripting language
  * Sharing data between Tcl programs using general-purpose distributed db
