#!/usr/bin/make -f
LC_ALL := C.UTF-8
export LC_ALL
export QT_SELECT := qt5
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	cd graphics-highres && $(MAKE)
	dh_auto_configure -- CONFIG+=nosilent

override_dh_auto_clean:
	cd graphics-highres && $(MAKE) clean
	cd testca && ( $(MAKE) clean || /bin/true )
	dh_auto_clean

override_dh_auto_test:
	xvfb-run -a dh_auto_test
