# If you want classfied ads to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install classified_ads.desktop

[Desktop Entry]
Comment=Classified ads the advertisment posting program
Exec=classified-ads %u
Keywords=messaging;communications;
GenericName[en_US]=Classified ads
GenericName[fi_FI]=Luokitellut ilmoitukset
GenericName[sv_SE]=Annonser
GenericName[sv_FI]=Annonser
GenericName[de_DE]=Kleinanzeigen
GenericName[fr_FR]=Petites annonces
GenericName[es_ES]=Anuncios clasificados
GenericName[da_DK]=Rubrikannoncer
GenericName=Classified ads
Icon=/usr/share/app-install/icons/turt-transparent-128x128.png
Name[en_US]=Classified ads
Name[fi_FI]=Luokitellut ilmoitukset
Name[sv_SE]=Annonser
Name[sv_FI]=Annonser
Name[de_DE]=Kleinanzeigen
Name[fr_FR]=Petites annonces
Name[es_ES]=Anuncios clasificados
Name[da_DK]=Rubrikannoncer
Name=Classified ads
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-classified-ads-profile;x-scheme-handler/caprofile;application/x-classified-ads-ad;x-scheme-handler/caad;application/x-classified-ads-comment;x-scheme-handler/cacomment;application/x-classified-ads-blob;x-scheme-handler/cablob;
